name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 19 * * 3'

env:
  CARGO_TERM_COLOR: always
  # Miri breaks frequently, so we pin it to a specific nightly version.
  MIRI_TOOLCHAIN: nightly-2023-09-02

jobs:
  check:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, rust-src

      - name: Install miri
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.MIRI_TOOLCHAIN }}
          override: false
          default: false
          components: miri, rust-src

      - name: Install cargo plugins
        run: |
          cargo install cargo-rdme
          cargo install cargo-deadlinks
          cargo install cargo-criterion

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Check everything
        run: bash ./tools/check.sh

      - name: Code coverage
        if: ${{ runner.os == 'Linux' }}
        run: |
          cargo install cargo-tarpaulin
          ./tools/codecov.sh --xml
          bash <(curl -s https://codecov.io/bash)

  msrv:
    runs-on: ubuntu-latest

    steps:
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo plugins
        run: |
          cargo install cargo-msrv

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Check the minimum supported rust version
        run: cargo msrv verify
